* {
    margin: 0;
    box-sizing: border-box;
}
/* 
html,
body {
    overscroll-behavior-y: none;
}

.flex-landscape {
    display: flex;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
}
*/
body {
    overflow: hidden;
    touch-action: none;
}

.flex-landscape {
    display: flex;
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100vw;
}

.panel-left {
    flex-grow: 1;
}

.flex-portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-top {
    margin-bottom: 1em;
    visibility: hidden;
}

.canvas {
    display: grid;
    min-width: 89vmin;
    min-height: 89vmin;
    box-shadow: 0 0 5px black;
}

.panel-bottom {
    text-align: right;
}

.btn-bottom {
    margin-top: 1em;
}

.panel-right {
    flex-grow: 1;
}
